<!DOCTYPE html>
<html>
<head>
<title><%= title %></title> <% include common/header.ejs %>
</head>
<body>

	<div class="container">
		

			<div class="row">
				<div class="col-md-2"></div>
				
				<div class="col-md-8">
				 <div class="panel  panel-custom panel-contact">
					<div class="panel-body">
						<form class="form-horizontal" method="post">
							<fieldset>
								<h3 class="text-center">Contact Us</h3>
								<br>

								<div class="form-group">
									<div class="col-md-12">
										<div class="input-group margin-bottom-sm">
											<span class="input-group-addon input-group-addon-cust"><i
												class="fa fa-user" aria-hidden="true"></i> </span><input
												type="text" class="form-control" id="fullname"
												name="fullname" placeholder="Full Name" required
												tabindex='1'>

										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-md-12">
										<div class="input-group margin-bottom-sm">
											<span class="input-group-addon input-group-addon-cust"><i
												class="fa fa-envelope" aria-hidden="true"></i></span> <input
												type="email" class="form-control" id="email" name="email"
												placeholder="Email Address" required tabindex='2'>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-md-12">
										<div class="input-group margin-bottom-sm">
											<span class="input-group-addon input-group-addon-cust"><i
												class="fa fa-phone" aria-hidden="true"></i> </span><input
												type="text" class="form-control" id="phonenumber"
												name="phonenumber" placeholder="Phone number (optional)" tabindex='3'>
										</div>
									</div>

								</div>

								

								<div class="form-group">

									<div class="col-md-12">
										<textarea class="form-control" id="message" name="message"
											placeholder="Enter your massage here. We will get back ."
											rows="7"></textarea>
									</div>
								</div>

								<div class="row">
									<div class="col-sm-12 col-md-12">
										<div class="text-center">
											<button type="submit"
												class="btn  btn-lg btn-block btn-success" id="singlebutton">Submit</button>

										</div>
									</div>
								</div>
							</fieldset>
						</form>

					</div>
				</div>
				<div class="col-md-2"></div>

			</div>
		</div>
	</div>

</body>
</html>


