<!DOCTYPE html>
<html>
<head>
<title><%= title %></title> <% include common/header.ejs %>
</head>
<body>


	<div class="container">
		<div class="panel  panel-custom">
			<div class="panel-body">
				<form class="form-horizontal" role="form" action="/register"
					method="post">

					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1"><span
								class="glyphicon glyphicon-user"></span></span> <input type="text"
							class="form-control" placeholder="Email/Phone number"
							aria-describedby="basic-addon1" id="userid" name="userid">
					</div>
					<br>
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock"></span></span> <input
							type="text" class="form-control" placeholder="Password"
							aria-describedby="basic-addon1" id="pwd" name="password">
					</div>
					 <br>
					<button class="btn  btn-lg btn-block btn-submit" name="commit" tabindex="3" type="submit" value="Log In">Log In</button>
				</form>

			</div>
			<div class="panel-footer">New to tettus? <a href="/registration" class="btn">Register</a>
						</div>
		</div>
	</div>
</body>
</html>