
<html>

<meta name="cloudinary_cloud_name" content="tettus">

<head>
<% include common/header.ejs %>
<script>

$(document)
.ready(
		function() {
$('input:radio[name="gender"]')
	.filter(
				'[value="<%=locals.user!=undefined? user.gender:""%>"]')
		.attr('checked', true);

		});

</script>
<style>
body {
	background-color: #f5f8fa;
}
</style>
</head>
<body>
	<div class="container-fluid">
		<form method="post" enctype="multipart/form-data" id="profileForm"
			action="/saveprofile">
			<div class="row">
				<div class="col-xs-12 col-md-4">
					<div class="panel  panel-custom panel-myprofile">
						<div class="panel-body">
							<div class="alert alert-danger hide-cust" role="alert" id="alert-profile">
								<span class="glyphicon glyphicon-exclamation-sign"
									aria-hidden="true"></span> <span class="sr-only">Error:</span>
								 
							</div>
							<div id="page1" class="page-scr">	
							<% include personal-details %>
						  </div>
						   <div id="page2" class="page-scr hide-cust">	
							<% include familydetails %>
						   </div>
							 <div id="page3" class="page-scr hide-cust">	
							<% include professional-details %>
						   </div>
						    <div id="page4" class="page-scr hide-cust">	
							  <% include contact-info %>
						   </div>
							<nav class="pagination-custom">
								<ul class="pagination pull-center">
									<li class="page-item"><a class="page-link" href="#"
										aria-label="Previous" data-target="previous"> <span aria-hidden="true">&laquo;</span>
											<span class="sr-only">Previous</span>
									</a></li>
									<li class="page-item"><a class="page-link" href="#1" data-target="#page1">1</a></li>
									<li class="page-item"><a class="page-link" href="#2" data-target="#page2">2</a></li>
									<li class="page-item"><a class="page-link" href="#3" data-target="#page3">3</a></li>
									<li class="page-item"><a class="page-link" href="#4" data-target="#page4">4</a></li>
									<li class="page-item"><a class="page-link" href="#"
										aria-label="Next" data-target="next"> <span aria-hidden="true">&raquo;</span>
											<span class="sr-only">Next</span>
									</a></li>
								</ul>
							</nav>
							
							<span class="help-block error">* fields are mandatory</span>
							
							<div class="button-group pull-right">
								<button type="submit" class="btn  btn-success" id="submitProfile">Save</button>
								<a href="/" class="btn  btn-success">Cancel</a>
							</div>

						</div>
					</div>
				</div>
				</div>
			</form>

				<div class="col-xs-12 col-md-4">
					<!-- second column rows,stack panels vertically in md mode -->
					<% include dp-upload %>
				</div>

			</div>

	
	</div>
 <script src="/js/profile.js"></script>
 
 <!-- cloudinary scripts -->
 <script src="node_modules/jquery/dist/jquery.js"                                          type="text/javascript"></script>
<script src="node_modules/blueimp-file-upload/js/vendor/jquery.ui.widget.js"              type="text/javascript"></script>
<script src="node_modules/blueimp-file-upload/js/jquery.iframe-transport.js"              type="text/javascript"></script>
<script src="node_modules/blueimp-file-upload/js/jquery.fileupload.js"                    type="text/javascript"></script>
<script src="node_modules/blueimp-file-upload/js/jquery.fileupload-image.js"              type="text/javascript"></script>

<script src="node_modules/cloudinary-jquery-file-upload/cloudinary-jquery-file-upload.js" type="text/javascript"></script>

<!-- cloudinary ends -->
</body>
</html>