
<html>
<head>
<% include common/header.ejs %>

<style>
body {
	background-color: #f5f8fa;
}
</style>
</head>


<body>

	<div class="container">

		<div class="row">
			<div class="col-xs-12 col-md-9">

				<div class="row">
					<div class="col-xs-12 col-md-4">
						<div class="panel panel-profile-custom">

							<div class="panel-body">
								<div class="profile-header"></div>
								<div class="profile-dp">
									<img src="/images/kaushal.jpg"
										class="img-circle profile-dp-img" alt="Cinque Terre"
										width="80" height="80" />
								</div>
								<div class="profile-body">

									<h5 class="profile-display-name">Kaushal Tettu Komandur</h5>
									<p class="profile-display-content">Singapore city,Singapore</p>
								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-4">
						<div class="panel panel-prof-other">
							<div class="panel-body qw">
							
							<h5 class="profile-others-heading">About </h5>
								<ul class="eb tb poc">
									<li><span class="dp h xh all"></span>Lives in <a href="#"></a></li>
									<li><span class="dp h ajw all"></span>Became friends with
										 </li>
									<li><span class="dp h abu all"></span>Worked at  </li>
									<li><span class="dp h ack all"></span>Lives in  </li>
									<li><span class="dp h adt all"></span>From  </li>
								</ul>
							</div>


						</div>
					</div>
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>

	</div>

</body>



</html>