<!DOCTYPE html>
<html>
<% include common/header.ejs %>
<body>
	<div class="container">
		<div class="panel panel-custom panel-registration">

			<div class="panel-body">
			   <span class="text-center"> <h3>Register your account</h3> </span><br>
				<form class="form-horizontal" role="form" action="/register"
					method="post">
					<div class="form-group">
						<div class="col-sm-12">
							<div class="input-group margin-bottom-sm">
								<span class="input-group-addon input-group-addon-cust"><i class="fa fa-user" aria-hidden="true"></i>
								</span><input
									type="text" class="form-control" id="fullname" name="fullname"
									placeholder="Full Name" required>

							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<div class="input-group margin-bottom-sm">
								<span class="input-group-addon input-group-addon-cust"><i class="fa fa-phone"
									aria-hidden="true"></i> </span><input type="text" class="form-control"
									id="phonenumber" name="phonenumber" placeholder="Phone number" required>

							</div>
						</div>

					</div>

					<div class="form-group">
						<div class="col-sm-12">
							<div class="input-group margin-bottom-sm">
								<span class="input-group-addon input-group-addon-cust"><i
									class="fa fa-envelope-o " aria-hidden="true"></i></span> <input
									type="email" class="form-control" id="email" name="email"
									placeholder="Email Address" required>
							</div>
						</div>

					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<div class="input-group">
								<span class="input-group-addon input-group-addon-cust"><i
									class="fa fa-key" aria-hidden="true"></i></span> <input
									type="password" class="form-control" id="pwd" name="password"
									placeholder="Password" required>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<div class="checkbox">
								<label><input type="checkbox"> I accept terms and condition</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-9">
							<button type="submit" class="btn btn-submit">Register</button>
							<a href="/" class="btn btn-submit">Cancel</a>
						</div>
					</div>
				</form>

			</div>
			<div class="panel-footer text-center">
				 <a href="/registration" class="btn">Terms and Conditions</a>
			</div>
		</div>
	</div>
</body>
</html>