:root { 
	--main-color: #1fa67a;
}

.capitalize{
	 text-transform: capitalize;
}
body {
	font: 1.6em "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: rgba(243, 237, 237, 0.16);
	font-weight: 300;
    letter-spacing: 0;
}


a {
	color: #00B7FF;
	font-size: 16px;
}

.hide-cust{
	display:none;
}

.help-block-cust{
	margin-left:14px;
	padding:5px;	
}

.help-block-cust span{
	padding-top:15px !important;
}

.navbar-custom {
	background-color: var(--main-color) !important;
	color: #C9EFE2;
	font-weight: bold;
}

.error{
	color: red;
	font-weight;bold;
	font-size: 1em;
	margin-bottom:5px;
}
.navbar a {
	color: #C9EFE2;
	font-weight: bold;
}

.input-group-addon-cust {
	background-color: #ffffff;
	color: var(--main-color) !important;
	font-weight: bold;
}

.panel-custom {
	color: var(--main-color) !important;
	border: 1px solid #DEDEDE;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	box-shadow: 0 0 10px rgba(19, 11, 11, 0.5);
	-webkit-box-shadow: 0 0 10px rgba(19, 11, 11, 0.5);
	-moz-box-shadow: 0 0 10px rgba(19, 11, 11, 0.5);
}

.panel-custom .panel-body{
	color: var(- -main-color) !important;
}

.btn-submit {
	background-color: rgb(154, 205, 50); ! important;
	color: white;
}

.btn-submit:hover {
	color: white;
}

.panel-login, .panel-registration {
	max-width: 380px;
	margin: 0 auto 20px;
}

.panel-contact {
	max-width: 480px;
	margin: 0 auto 20px;
}


.panel-welcome{
	color: var(--main-color) !important;
	border: 1px solid #DEDEDE;
	border-radius: 2px;
	-webkit-border-radius: 5px;
	 -moz-border-radius: 3px;
    box-shadow: 0 0 10px rgba(189,189,189,0.4);
    -webkit-box-shadow: 0 0 10px rgba(189,189,189,0.4);
    -moz-box-shadow: 0 0 10px rgba(189,189,189,0.4);
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #1fa67a;
    border-color: #1fa67a;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

#profiles_wrapper > :first-child{
	display:none;
}

.input-group-custom{
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
}
.input-cc-custom{
	padding-right :2px;
}
.input-ph-custom{
	
	padding-left :2px;
}


.container-profile-custom{
  padding-left:50px;	
}

.panel-profile-custom,.panel-prof-other {
	background-color: #ffffff;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-border-radius: 4px; -moz-border-radius : 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	border-color: #d3e0e9;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-border-radius: 4px;
}

.panel-profile-custom .panel-body{
	min-height:300px;	
	padding:0px;
	position: relative;
	background-color :white;
}

.profile-header {
	min-height: 105px;
	background-color: #99cc99;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-moz-border-top-right-radius: 3px;
	-moz-border-top-left-radius: 3px;
	padding: -1px;
	z-index: 1900;
}

.profile-dp{	 
	z-index:2000;
}

.profile-dp-img {
	position: absolute;
	top: 20%;
	left: 36%;
	max-width: 100px;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 1px;
	border-width: 3px;
	border-style: solid;
	border-color: rgb(255, 255, 255);
	border-radius: 100%;
	height: 110px;
	width:120px;
	
}

.header-dp-img{	
	height: 29px;
	width:29px;
}

.profile-body{
	position:absolute;
	top:59%;
	text-align: center;
	width:100%;
}

.profile-display-name{
	margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    font-weight:600;
    font-family: 1.1em "Tahome" "Lucida Grande", Helvetica, Arial, sans-serif;
}

.profile-display-content{
	margin-top: 10;
    margin-bottom: 0;
    font-size: 14px;
    font-weight:300;
    line-height:5px;    
}
.qw {
    padding: 15px;
     
}
.profile-others-heading{
	font-size: 14px;
    font-weight:600;    
}
.poc{
	font-size: 16px;
    font-weight:300;
}

.poc-data{
	font-size:16px;
	font-weight :bold;
}

.eb {
    padding-left: 0px;
    list-style: none;
}
 
ul, ol {
    margin-top: 0px;
    margin-bottom: 11px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.dp {
    color: rgb(157, 169, 176);
}
.all {
    margin-right: 20px;
}

.panel-myprofile{
	
}

.panel-myprofile label{
	color:#B70A0A;
	padding-right:50px;
	margin-left:10px;	
    width:150px;
	white-space: nowrap;
}

.input-group-lbl{
	margin-right:28px;
}


.panel-myprofile .header{	
	font-weight:600;
	font-size : 18px;
	color: var(--main-color) !important;
	margin: 10px 10px 20px 10px;
	display : inline-block;
	text-align: center;
	text-decoration: underline;
	
	width:100%;
}

.image-upload{
	height:300px;
	width : 100%;
}

.image-preview-thumbnail{
	height : 80%;
	width : 99%;	
	position:relative;	
	border :2px solid #cacaca; 
}

.bg-icon{
	position:absolute;
	width:100%;
	height:100%;
	
}
.bg-icon-wrapper{
	height : 80%;
	width : 99%;
}
.img-remove{
	padding:10px;
	text-align: center;
	color :red;
	font-weight: 400;
	cursor:pointer;
}
.preivew-image{
	height:auto;
	width:auto;
	max-width:100%;
    max-height:100%;
	position:absolute;
	z-index:200;
	padding:2px;
	vertical-align: middle;
	display:table-cell; vertical-align:middle; text-align:center
}
.img-edit{
	position:absolute;
	z-index:300;
}

.fa-bg{
	z-index:0;	
	opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

.file-input {
	margin-top:50%;
	margin-left:20%;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

.profile-bottom-navbar{
	
}

.gender-radio{
	padding-right : 10px;
	display:compact;
}


.panel-error{
	
	
}
