<% include head %>
<nav class="navbar navbar-static-top navbar-custom">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#toolsNavBar">
				<i class="fa fa-bars" aria-hidden="true"></i>
			</button>
			<a class="navbar-brand" href="#">Tettus</a>
			 
		</div>
		<div class="collapse navbar-collapse" id="toolsNavBar">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;Home</a></li>
				<li class="active"><a href="/profilelist"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;Profiles</a></li>
				<li class="active"><a href="/contactus"><i class="fa fa-phone-square" aria-hidden="true"></i>&nbsp;Contact</a></li>
			</ul>
			
			<ul class="nav navbar-nav navbar-right">
			   
			  
			   
			  <% if(locals.user!=undefined)	{ %>
			     <li class="active"><a href="/myprofile">
			            <span class="capitalize">
			            <i class="fa fa-user" aria-hidden="true"></i>
			              <%=user.fullname%>&nbsp;  
			            <img src="/images/kaushal.jpg"
										class="img-circle header-dp-img" alt="Cinque Terre"
										 />
			            </span></a></li>				
			    
				 <li class="active"><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Logout</a></li>				
				<% }else { %>			   
			    <li class="active"><a href="/login"><span class="glyphicon glyphicon-log-in"></span>&nbsp;Login</a></li>
			    <% } %>
			   
			</ul>
		</div>

	</div>
</nav>

