<% include head %>
<nav class="navbar navbar-static-top navbar-custom">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#toolsNavBar">
				<i class="fa fa-bars" aria-hidden="true"></i>
			</button>
			<a class="navbar-brand" href="#">Tettus</a>
		</div>
		<div class="collapse navbar-collapse" id="toolsNavBar">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/">Home</a></li>
				<li class="active"><a href="/profilelist">Profiles</a></li>
				<li class="active"><a href="/loginpage">About Us</a></li>
				<li class="active"><a href="/loginpage">Contact</a></li>
			</ul>
		</div>

	</div>
</nav>

